.todoForm {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.inputWrapper {
  flex-grow: 1;
}

.todoInput {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

.todoInput:focus {
  outline: none;
  border: 1px solid whitesmoke;
}

.errorWrapper {
  min-height: 20px;
  margin-top: 4px;
}

.errorMessage {
  color: darkred;
  font-size: 10px;
  font-weight: 500;
  transition: opacity 0.2s ease;
  opacity: 0;
}

.errorVisible {
  opacity: 1;
}