.button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.2s ease;
  color: whitesmoke;
}

.primary {
  width: 90px;
  height: 45px;
  background-color: black;
}

.primary:hover {
  background-color: darkblue;
}

.tab {
  width: 120px;
  background-color: dimgrey;
}

.tab:hover {
  background-color: black;
}

.active {
  background-color: darkblue;
  color: white;
  cursor: not-allowed;
}

.active:hover {
  background-color: darkblue;
}

.icon {
  background: none;
  border: none;
  padding: 0;
  font-size: 18px;
}

.icon:hover {
  transform: scale(1.2);
}




