.app {
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  width: 500px;
  padding: 20px;
}

.appHeader {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: black;
}
